[tool.poetry]
name = "qcware_transpile"
version = "0.1.1-alpha.9"
description = "A quantum circuit transpilation framework"
authors = ["Vic Putz <vic.putz@qcware.com>"]
include = ["qcware_transpile/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
pyrsistent = "^0.17.3"
attrs = "^20.3.0"
qcware-quasar = { version = "^1.0.2", optional=true }
qiskit-aer = { version = "^0.7.2", optional=true }
pyzx = {version = "^0.6.3", optional = true}
toolz = "^0.11.1"
icontract = "^2.4.1"
amazon-braket-sdk = {version = "^1.5.10", optional = true}
qsharp = {version = "^0.15.2102", optional = true}

[tool.poetry.dev-dependencies]
hypothesis = "^6.9.1"
pytest = "^6.1.2"
python-language-server = {extras = ["all"], version = "^0.36.1"}
mypy = "^0.790"
watchdog = {extras = ["watchmedo"], version = "^1.0.1"}
invoke = "^1.4.1"
pyls-mypy = "^0.1.8"
pytest-parallel = "^0.1.0"
sphinx = "^3.4.3"
sphinx-rtd-theme = "^0.5.1"
qiskit = "^0.23.5"
snakeviz = "^2.1.0"
pydantic = "1.7.3"

[tool.poetry.extras]
qcware-quasar = ["qcware-quasar"]
qiskit = ["qiskit-aer"]
pyzx = ["pyzx"]
braket = ["amazon-braket-sdk"]
qsharp = ["qsharp"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
